<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!-- 일반 MVC -->
 <!-- <servlet>
    <servlet-name>actions</servlet-name>
    <servlet-class>com.springbook.view.controller.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actions</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping> -->
  
  <!-- Spring 으로 MVC 패턴 활용하기 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <!-- ContextLoaderlistener는 기본적으로 /web-inf/applicationContext를 읽는데 기존의 파일을 옮기면 유지보수가 힘들어진다.
  		그러므로 위와 같이 context-param을 넣어 경로를 설정해 준다.	-->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
  	<filter-name>characterEncoding</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>EUC-KR</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>characterEncoding</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
 <servlet>
    <servlet-name>actions</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/config/presentation-layer.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>actions</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
</web-app>