<!--
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>로그인 성공 페이지</title>
	</head>
	<body>
		<h1>이미 로그인 하셨습니다.</h1>
		<div><p>사용자 아이디 : <%= userid %> </p></div>
		<br><br><a href='/logout'>로그아웃하기</a><br>
		<a href='/profile'>내 정보 보기</a>
	</body>
</html>-->
