<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>

<body>
    <header>
        <% include ./header %>
    </header>
     <div class="container">
        <div style="margin:0 10%;">
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/Admission.png" /></p>
            <h2>ADMISSIONS</h2>
            <h4>Admissions are entertained on a first come first serve basis for Nursery, with payment of a nominal retention fee. Classes L.K.G. and above are required to sit for an Admission Test whereon admission is granted on basis of merit.<br><br>

Once admission is granted, the following documents are required to be submitted:<br><br>

- Last report sheet (if any) from the previous school<br>
- Birth Certificate<br>
- Transfer Certificate from the previous school<br>
- Health Certificate from a recognized doctor for boarders<br>
- Two recent passport size photographs<br><br>

Please contact the school if you have further queries. </h4>
        </div>
        <br /><br />
    </div>

    
    <footer>
        <% include ./footer %>
    </footer>
</body>
</html>