<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>
<body>

    <header>
        <% include ./header %>
    </header>

    <div class="container">
        <div style="margin:0 10%;"><br><br>
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/AcademicLife.png" /></p><br><br>
            <h2>ACADEMIC LIFE</h2>
            <h4>Though academically, we follow the curriculum prescribed by the Government of Nepal and prepare the children for the School Leaving Certificate Examinations (SLC), we have felt it pertinent to incorporate additional textual matter, along with various other teaching tools. This may include educational films and documentaries with access to a well equipped audio visual room, visual aids, internet research and so forth in order to stimulate learning. Varied project work and research based assignments are a regular feature of everyday school life at Young Hearts.  </h4>
            <br><br><br>
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/AcademicLife_2.png" /></p>
        </div>
        <br /><br /><br />
    </div>

    
    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>