<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>



<body>
    <header>
        <% include ./header %>
    </header>

        <div class="container">
        <div style="margin:0 10%;"><br><br>
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/expel.png" /></p><br><br>
            <h2>Expulsion / Removal of Child <h2><br>
            <h4>A child may be withdrawn from school by the parents or guardians during an academic year if:<br><br>

1. The school is provided with satisfactory reasons for their withdrawal.<br><br>
2. The school is notified at the end of the academic session.<br><hr>

If a child is withdrawn before completion of an academic session, the remaining fees must be cleared in full.<br>

The school holds the right to remove any child from school if:<br><br>

3. The conduct of the child is not up to the satisfaction of the school authorities.<br><br>
4. The child fails his or her class for two consecutive years.<br><br>
5. The parent fails to pay the school fees for more than three consecutive months.<br><br>

The school authority's decision will be final and binding.<br>

School academic session starts from the first week of Baishak (April) and closes on the last week of Chaitra (March) the following year. 
               </h4>
        </div>
        <br /><br /><br />
        </div>


    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>