<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>
<body>
    <header>
        <% include ./header %>
    </header>

     <div class="container">
        <div style="margin:0 10%;">
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/extraCurricular.png" /></p><br>
            <h2>EXTRA-CURRICULAR</h2>
            <h4>Special emphasis is placed on extra=curricular activities, encouraging participation of every child. Most activities are conducted on both Inter-House and Inter-School levels in the form of various contests and competitions. However, some events are solely held to meet the hone the social, physical and mental skill of every child.<br><br>

Spelling Contests, Music and Quiz Contests, Football, Basketball, Table Tennis, Art, Swimming, Board Games are a few that are a regular feature of the Academic Year.<br><br>

Additional field trips and excursions are often a part of the school year, to help break away from the confines of a classroom and help your children experience course related matters first hand. This also gives them a greater understanding of the subjects being taught in class and a chance to build stronger inter-personal skills. </h4>
        </div>
        <br /><br /><br /><br><br>

        <div style="margin:0 10%;">
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/artsMusic2.png" /></p><br>
            <h2>ARTS & MUSIC</h2>
            <h4>Art and Music have been an integral part of our curriculum as they meet the creative needs of a child. It gives children freedom to express themselves. Children tend to relate better to such creative endeavors and man a times produce commendable work. This sets the stage for learning other subjects well, while discreetly boosting their confidence.<br><br>

International Music Day is celebrated at Young Hearts every year with many schools participating vying to clinch various awards. </h4>
        </div>
        <br /><br /><br /><br><br>

        <div style="margin:0 10%;">
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/Sports.png" /></p><br>
            <h2>SPORTS & GAMES</h2>
            <h4>It's understood that mental prowess is reliant on physical growth and development. With this in mind, we lay equal emphasis on the need for regular sports and sport-related activities. This is not merely confined to games like basketball and football, but even other games which may require children to use judgement, tactics and reasoning. Games like chess and various other board games are also encouraged. </h4>
        </div>
        <br /><br /><br /><br><br>

       <div style="margin:0 10%;">
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/MedicalCare.png" /></p><br>
            <h2>MEDICAL CARE</h2>
            <h4>The school has a reputed paediatrician / physician who visits the school every Saturday for check-ups. Children are given medications only on the doctor's recommendation. The school charges a nominal annual fee as medical fees. Apart from the general medications and treatments, cases that may require specialized care and long term treatment / therapy or long term courses will be billed by the school or may be followed up by the parents in consultation with the school. </h4>
        </div>
        <br /><br /><br /><br>
    </div>

    <br><br><br>


    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>
