
<footer style="background-color : darkblue ;color:#ffffff">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-sm-2" style="text-align:center;"><img src="/images/logo_circle.gif" width="90" height="90">
            </div>
            <div class="col-sm-5"><h4>YOUNG HEARTS BOARDING HIGH SCHOOL</h4><p>NARAYANTAR, JORPATI KATHMANDU</p><p>call : 5223332 </p></div>
            
            <div class="col-sm-2">
                
                <div class="list-group">
                    <a href="https://www.facebook.com/Young-Hearts-Boarding-School-Off-1693499180879136/" class="list-group-item" target="_blank">Facebook</a>
                    <a href="/nav/location" class="list-group-item">Directions</a>
                </div>

            </div>
            <div class="col-sm-3"><h4 style="text-align:center"><span class="glyphicon glyphicon-ok"></span>&nbsp; made by</h4>
            
            <h4 style="text-align:right"><span style="font-size : 12px;">team</span>&nbsp;<a href="/nav/volunteer" style="color : white;"><i>NEFOLLOW</i></a></h4>
            
            <h6 style="text-align:right">Copyright &copy;2017</h6>
            </div>
        </div>
    </div>
    
</footer>