<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <style>
    .left-box {
    padding-right:2%;
      float: left;
      width: 50%;
    }
    .right-box {
        padding-left:2%;
      float: right;
      width: 50%;
    }
</style>
</head>
<body>
    <header>
        <% include ./header %>
    </header>

    <div class="container">
        <center><p style="font-style:italic; font-size:50px;">"Welcome to Young Hearts!"</p></center><br><br><br>
       <div class="left-box">
            <p style="text-align:center;"><img style="width:100%; height:auto;" src="/images/Vijay.png" /></p>
        </div>    
        <div class="right-box">
           <h4>
               After having generations of teachers in my family, it was inevitable for me to choose a carrier other than teaching. I began teaching at an early age and reflecting back I am never ever disappointed for having to choose this one. The year 1991 saw the birth of Young Hearts where I could put my ideals for a sound and effective education in the most positive manner possible.<br><br>
The values that we try to inculcate in every child and mold these small minds into a mighty personality are truly one of the things that keep us going. In spite of the colossal task that lies underneath to run a school, the joy that we get in seeing our students coming back to us even after 20 years to thank us in making them what they are is immeasurable.<br><br>
Young Hearts has always been a platform in encouraging each and every child, giving them opportunity to excel in each and every aspect including music, art, craft, games, public speaking etc. Thus, making them confident and better citizen, capable of adapting in every walk of life.<br><br>
Having said this, I alone would not have had accomplished my aspirations and dreams without the help of my team, colleagues' and staff. So, I would like to take this opportunity to thank all those people who have become the part of Young Hearts and helped me through all the difficulties in achieving this wonderful success.<br><br>
Hail! Young Hearter.<br><br>

<h5 style="text-align : right;">2017.08</h5>
<br>
<h3 style="text-align : right;"><i>Vijay Rai<br>
Principal<br></i></h3>
           </h4>
        </div>
        
        </div>
    
    <br><br><br><br><br><br>
    <div class="container">
        <div class="left-box">
            <p style="text-align:center;"><img style="width:100%; height:auto;" src="/images/Bimal.png" /></p>
        </div>
        <div class="right-box">
            <h5>
                First and foremost, I would like to thank the team of South Korean ICT volunteers; namely :<br>
Choi Sung-Hyun,
Shin Kiyong,
Lee Sang Chul,
Ko Dong-Woo,
for  making this website finally materialize. Though the project had been started a long time ago, it never took concrete shape for reasons which I will not dwell on at this juncture. I guess it was fated and slated to be left in the hands of this team of young and dynamic Koreans; for good reasons I presume.<br><br>
Young Hearts crossed its Silver Jubilee year in 2015 and this milestone is a source of inspiration and pride for all those associated with this institution. The alumni of this school bear testimony to the efforts of our dedicated faculty that have helped to shape such young minds. Our graduates have carved a niche for themselves not only in Nepal, but the world over by dealing with the challenges of the 21st century head on. Our emphasis on moral and character development, not just academic excellence, have paid dividends and we are always pleased when our ex-students pay us a visit to reflect on their achievements and at the same time give us feedback on what we as an institution should do to cater to meet the needs of the times. Such valuable insight will always be welcome. <br><br>
Finances are a fundamental aspect for the growth of an institution not just in terms of resources, infra structure and facilities but also regular training, workshops ( technical or otherwise ) and seminars for the teachers and students alike. No matter how highly experienced a teacher may be, he or she needs to be upgraded on methodology, child psychology, classroom tools and so forth. Despite financial constraints, we have always tried our best to provide such training and upgrades. Many of our children hail from economically challenging backgrounds and on most occasions are unable to pay even the minimum school fees; however, we do not discriminate, and likewise, we urge our children to see eye to eye on such issues. We try to give the best with the least.<br><br>
A final note before I take leave, I urge the stakeholders ( in this case, students, parents and guardians ) to be  pro-active when it comes to the learning process of their children; moral, academic, social and spiritual so that their children become 'good human beings' and not just a robot with a career.<br><br>
Lift Up Your Hearts<br><br>

<h5 style="text-align : right;">2017.08</h5>
<br>
<h3 style="text-align : right;"><i>
Bimal Kanta Rai<br>
Vice-Principal<br></i>
</h3>
</h5>
  </div>         
    </div>
<br><br><br> 
    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>
