<style>
    .navli {
        text-align: center;
            }
</style>
<BR>
<p style="text-align:left; margin-left:5%; padding:1%;">
    <a href="/"><img style="width : 50%; height: auto;" src="/images/logo.png" /></a>
</p>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="">
                <li class="dropdown">
                    <a href="/nav/course" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Introduction<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/nav/introduce">About Us</a></li>
                        <li><a href="/nav/greetings">Greetings</a></li>
                    </ul>
                </li>
                <li><a href="/nav/location">Directions</a></li>
                <li><a href="/nav/notice/?pageNumber=1">Notification</a></li>


                <li class="dropdown">
                    <a href="/nav/course" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">School Life<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/nav/course">Academic Life</a></li>
                        <li><a href="/nav/extra">Extra-Curricular</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="/nav/admission" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/nav/admission">Admission</a></li>
                        <li><a href="/nav/policy">Policy</a></li>
                        <li><a href="/nav/expell">Expulsion</a></li>
                        <li><a href="/nav/uniform">Uniform</a></li>
                        <li><a href="/nav/facility">Facility</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="/nav/staff" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Gallery<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/nav/staff">Faculty & Staff</a></li>
                        <li><a href="/nav/grade/?pageNumber=1">Grade</a></li>
                        <li><a href="/nav/nursery">Nursery</a></li>
                        <li><a href="/nav/volunteer">Volunteer</a></li>
                        <li><a href="/nav/etc/?pageNumber=1">E.T.C</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>    
</nav>

