<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>
<body>
    <header>
        <% include ./header %>
    </header>

    <div class="container">
        <h1 style="color:red; text-align:center;">'LIFT UP YOUR HEARTS'</h1>
        <h5 style="text-align:center;">The year 1991 saw the birth of Young Hearts along with the ideals of its founders <br>to impart sound and effective education in the most positive manner possible. </h5>
        <br /><br /><br />
        <div style="margin:0 10%;">
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/OurEthosValues.png" /></p><br>
            <h2>OUR ETHOS & VALUES </h2>
            <h4>
                Our aim is to mould and develop every child physically,<br>  mentally and spiritually through very modern methods. <br>
                In order to fulfill desired results, we have very carefully selected qualified <br>and experienced teachers who come from well established English medium school backgrounds.<br><br>
                Encouragement and equal opportunity will be given to each and every child.<br> Every child will be encouraged to participate in extra-curricular activities <br>which include music, art and craft, games, elocution, etc. <br>
                We are sure Young Hearts and its experienced staff will be successful in enhancing, <br>shaping and moulding character, personality and knowledge of your young ones.<br>Thus making them confident and better citizens capable of adapting and adjusting in various facets of life.
            </h4>
        </div>
        
        <br /><br /><br /><br>
        
        <div style="margin:0 10%;">
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/SmallBlessings.png" /></p><br>
            <h2>SMALL BLESSINGS</h2>
            <h4>We pride ourselves with the knowledge that our students find transition into college life seamless. Every year we receive letters of appreciation and support from our ex-students, driving us to move forward. It pleases us to see our well-balanced young men and women succeed in life. We continuously strive to improve the education that your child receives and tailor the system to suit the needs of the dynamic world we live in. </h4>
        </div>
        <br /><br /><br>
  </div>

    
    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>