<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>
<body>

    <header>
        <% include ./header %>
    </header>

     <div class="container">
        <div style="margin:0 10%;">
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/policy.png" /></p>
            <h2>SCHOOL POLICY</h2>
            <h4><br>
                1. Parents must notify the school in writing if a child is absent. The school diary may be used for this purpose.<br><br>
                2. Dayboarders are required to stay back for evening studies, games and other activities.<br><br>
                3. Dayscholars and dayboarders are forbidden to lend, sell or purchase any items to / from boarders. <br>&nbsp&nbsp&nbsp Violation of this policy may result in the expulsion of the concerned students.<br><br>
                4. Annual medical fee does not cover major illnesses.<br><br>
                5. Clearance of fees must be done by the 20th of each Nepali month. Failure to do so will result in a fine of <br>&nbsp&nbsp&nbsp 10% of the monthly fee for each passing month.<br><br>
                6. Parents must notify the school of the child's medical history which may have a bearing on the general <br>&nbsp&nbsp&nbsp health of other children or that may be serious in nature.<br><br>
                7. Parents are to take their complaints, if any, directly to the Principal or the Vice-Principal. Hostel related <br>&nbsp&nbsp&nbsp complaints may be take to the Hostel Superintendent or to the Matron in their absence.<br><br>
                8. Parents and guardians are not allowed to visit their wards during the school class hours.<br><br>
                9. The school seeks sincere support, cooperaton and good will from the parents and guardians.<br>
            </h4>
        </div>
        <br /><br />
    </div>


    <footer>
        <% include ./footer %>
    </footer>

    

</body>
</html>