<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>
<body>
<header>
        <% include ./header %>
    </header>

    

    <div class="container">
        <div style="margin:0 10%;">
            <p style="text-align:center;"><img style="width:80%; height:auto;" src="/images/uniform.png" /></p>
            <h2>UNIFORMS</h2>
            <h4>All students are expected to wear the correct school uniform with emphasis on the correct shades.<br> We expect parents of dayboarders and dayscholars to ensure that their child come neatly dresses and groomed for school, everyday. </h4></div>
        <br /><br />
    </div>

    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>