<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
    <header>
        <% include ./header %>
    </header>

     <div class="container" id="tourpackages-carousel">
      
      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/images/lee.jpg" alt="" width="300px" height="300px">
              <div class="caption">
                <h4>Sang-chul LEE</h4>
                <p>Significance : Team Leader, IT</p><br>
                <p><i>Happy Happy Happy Happy Happy Happy Happy Happy Happy Happy</i></p>
                <p><font style="color:blue;">>>&nbsp; </font><a style="color:blue;" href="https://1ilsang.blog.me" target="_blank">blog</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/images/koo.jpg" alt=""  width="300px" height="300px">
              <div class="caption">
                <h4>Dong-woo KO</h4>
                <p>Significance : IT</p><br>
                <p><i>Happiness is among us.</i></p><br>
                <p><font style="color:blue;">>>&nbsp; </font><a style="color:blue;" href="https://www.facebook.com/ko.dongwoo.7" target="_blank">facebook</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/images/shin.png" alt="" width="300px" height="300px">
              <div class="caption">
                <h4>Ki-yong Shin</h4>
                <p>Significance : Culture + IT</p><br>
                <p><i>&nbsp&nbsp&nbsp&nbsp&nbsp Think Less</i></p>
                <p><i>&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp Do More</i></p>
                
                <p><font style="color:blue;">>>&nbsp; </font><a style="color:blue;" href="https://www.facebook.com/profile.php?id=100003338400710&lst=100002297986224%3A100003338400710%3A1502442824" target="_blank">facebook</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/images/choi.jpg" alt=""  width="300px" height="300px">
              <div class="caption">
                <h4>Sung-hyun Choi(Sean)</h4>
                <p>Significance : Language Specialist, Culture</p><br>
                <p><i>Stay focused, be a better person everyday!<br>Love from Korea </i></p>
                <p><font style="color:blue;">>>&nbsp; </font><a style="color:blue;" href="https://www.fb.com/sean.choi.37" target="_blank">facebook</a></p>
            </div>
          </div>
        </div>
      </div><!-- End row -->
      
    </div><!-- End container -->

    <hr>
    <br>
    

    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>